@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Samsung Sharp Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Regular"),
    url("/public/fonts/samsungsharpsans.woff") format("woff");
}

@font-face {
  font-family: "Samsung Sharp Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Medium"),
    url("/public/fonts/samsungsharpsans-medium.woff") format("woff");
}

@font-face {
  font-family: "Samsung Sharp Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Bold"),
    url("/public/fonts/samsungsharpsans-bold.woff") format("woff");
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Samsung Sharp Sans", sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pinktext {
  color: #e51058;
}
