@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Samsung Sharp Sans";
  src: url("/public/fonts/samsungsharpsans.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Samsung Sharp Sans";
  src: url("/public/fonts/samsungsharpsans-bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Samsung Sharp Sans";
  src: url("/public/fonts/samsungsharpsans-medium.otf");
  font-weight: medium;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Samsung Sharp Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
